$color-text: #000000;
$color-background: #ffffff;

.error-anim {
  text-align: center;
  .glitch {
    color: $color-text;
    font-size: 50px;
    position: relative;
    width: 900px;
    margin: 0 auto;

    &:before {
      content: attr(data-text);
      position: absolute;
      left: -2px;
      text-shadow: 1px 0 blue;
      top: 0;
      color: $color-text;
      background: $color-background;
      overflow: hidden;
      clip: rect(0, 900px, 0, 0);
      animation: noise-anim-2 3s infinite linear alternate-reverse;
    }

    &:after {
      content: attr(data-text);
      position: absolute;
      left: 2px;
      text-shadow: -1px 0 red;
      top: 0;
      color: $color-text;
      background: $color-background;
      overflow: hidden;
      clip: rect(0, 900px, 0, 0);
      animation: noise-anim 2s infinite linear alternate-reverse;
    }
  }
}
