
.add-gem {
  .form-gem {
    .form-group {
      width: 100%;
    }

    input {
      width: 100%;
    }

    .description {
      width: 100%;
    }

    .main-values {

      margin-left: 50px;

      div {
        margin-bottom: 5px;
      }

    }

    a.more {
      position: absolute;
      display: block;
      position: absolute;
      width: 34px;
      height: 34px;
      margin-left: 5px;
      span {
        font-size: 34px;
      }
    }


  }
}
