
.hide {
  display: none;
}

.icon-anim {
  color: #676a6c;
  &:hover {
    color: #2d2e2f !important;
  }

  &:focus {
    color: #676a6c;
  }

  &:active {
    color: #e00000 !important;
    transition: color linear 0.05s;
  }

  &.active {
    color: #e00000 !important;
    transition: color linear 0.05s;
  }

  transition: color linear 0.15s;
  user-focus: none;
}

.btn-default {
  &:hover {
    background: #f6f6f6;
    color: #000000;
  }

}

.error-message {
  .alert-danger {
    background: inline('form_bg.png');
    padding: 10px;
    margin-bottom: 20px;

    .text-box {
      background: #ffffff;
      color: #E70000;
      font-weight: bold;
      padding: 10px;

      ul {
        margin-bottom: 0px;
      }
    }
  }

}

.add-gem {

  .bg {
    padding: 0;
    margin: 0;
    background: inline('form_bg_2.png') #15B0DA;
  }

  input[type="text"], textarea {
    border: 1px solid #000000;
  }

  hr {
    margin: 10px;
  }

  .title {
    color: #FFFFFF;
    font-size: 16px;
    padding-left: 20px;
    line-height: 35px;
  }

  .form-title {
    margin-top: 10px;
  }


  .parser {
    padding-top: 10px;


    .field-container {
      padding-right: 0;
    }

    .btn-info {
      background: #DCFFA9;
      color: #000000;
    }
  }

  .form-gem {
    .form-group {
      width: 100%;
    }

    input {
      width: 100%;
    }

    .description {
      width: 100%;
    }

    .main-values {

      padding-top: 15px;
      padding-bottom: 10px;

      .form-group {
        margin-bottom: 5px;
      }

      .main-values-col {
        padding: 0;
      }

      .active-form {

        padding-top: 5px;

        .title {
          padding: 0;
        }
        .toggle {
          cursor: pointer;

          .handle {
            box-shadow: none;
            background-color: rgb(218, 68, 83);
            border: 1px solid #FFFFFF;

            &::before {
              background-color: #DCFFA9;
              top: 0;
              left: 0;
            }

            &::after {
              box-shadow: none;
              border: 1px solid #b8bfc8;
              top: 0;
//              left: 0;
            }
          }

          input[type="checkbox"]:checked + .handle:after, .toggle input[type="radio"]:checked + .handle:after {
            left: 18px;
          }

          input[type="checkbox"]:checked + .handle:before, .toggle input[type="radio"]:checked + .handle:before {
            width: 100%;
          }
        }

      }
    }

    .option-values
    {
      opacity: 0;
      height: 1px;
      overflow: hidden;
      padding-bottom: 10px;
      display: block;

      .form-group {
        margin-bottom: 5px;
      }

      &.show {
        height: 100%;
        opacity: 1;
      }

      transition: all linear 0.4s;
    }

    .more {
    }

    a.more-btn {
      margin: 15px 0;
      display: block;
      height: 34px;
      position: relative;

      .btn {
        width: 100%;
      }

      span {
        font-size: 34px;
        line-height: 30px;
        color: #444444;

        &:hover {
          color: #666666;
        }
        transition: all linear 0.2s;
      }

      text-decoration: none;
    }

    .submit-btn {
      margin-top: 5px;

      .btn {
        padding-left: 6px;
        padding-right: 6px;
      }
    }

  }
}

.gem-list-operations {
  margin: 10px 0 0 0;

  .compose {
    text-align: center;
    cursor: pointer;

    pointer-events: none;
    background: #d2d9e2;
    opacity: 0.3;

    &.active {
      background: #fecdcf;
      pointer-events: auto;
      opacity: 1;
    }

    &:hover {
      background: #d1e8fe;
    }

    transition: background linear 0.1s;
  }

  .col {
    padding: 10px 15px;
  }
}

.gem-list-header {
  margin: 10px 0 0 0;

  .row {
    .header-col {
      padding: 10px 15px;

      &:nth-child(even)
      {
        background: #d1e8fe;
      }
      &:nth-child(odd)
      {
        background: #C1DDF7
      }
    }
  }
}

.gem-list-empty {
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

