
.add-gem {
  .form-gem {
    .form-group {
      width: 100%;
    }

    input {
      width: 100%;
    }

    .description {
      width: 100%;
    }

    .main-values {

      margin-left: 50px;

      div {
        margin-bottom: 5px;
      }

    }

    .option-values {
//      display: none;
      opacity: 0;
      height: 1px;
      &.show {
//        display: block;
        height: 200px;
        opacity: 1;
      }

      transition: all linear 0.8s;
    }

    a.more-btn {
      position: absolute;
      display: block;
      position: absolute;
      width: 34px;
      height: 34px;
      margin-left: 5px;
      span {
        font-size: 34px;
        line-height: 30px;
        color: #444444;

        &:hover {
          color: #666666;
        }
        transition: all linear 0.2s;
      }

      text-decoration: none;

      &.more-btn-collapse {
        display: none;
      }
    }




  }
}
